<p>
  Example stacks, though shown side-by-side, are not meant as "apples to apples" comparisons. Instead, the tables of concepts and examples are meant to provide a high-level understanding of how technology stacks (in general) fit together.
</p>
<p>
  See the section <a href="/#web-apps">Web App Archetypes</a> for more architecture overview discussion and a diagram showing all 3 major variations of web/native apps in a full/expanded diagram.
</p>