<p>
  This additional data persistence service provided by the server and consumed by the client is implemented in the form of something called an Application Programming Interface (API). An API is a specification that describes the data format and transport protocols which the client and server use to communicate.
</p>