<p>
  Some parts of the server/client diagram have intentionally been clipped to highlight only the DHTML webapp architecture. See the section <a href="/#app-spa">Web App Archetypes</a> for the architecture overview showing all 3 major variations of web/native apps in a full/expanded diagram.
</p>