<p>
  Typically, users install the app from the designated app store for the client platform (Google Play and Apple iTunes). And like Single Page Apps aka Native Web Apps, when the user interacts with the app, the app in turn interacts with a server which provides the  data persistence API service and/or other API services
</p>