<div class="blog-post">

  <div class="featurette-heading clearfix">
    
    <!-- Large Screen Only: Featurette Image -->
    <%= image_tag("cloud/before.jpg", class: "featurette-image pull-right", width:"300", alt: "Before The Cloud") %>        
    
    <h1 class="blog-post-title">Apps And The Cloud</h1>
    
    <!-- Featurette text -->
    <h2 class="featurette-heading">
      <span class="text-muted featurette-text">
        We used to say the <b>internet</b> but now we talk about the <b>cloud</b>. But what’s the difference?
      </span>
      
      <!-- Mobile Only: Featurette Image -->
      <%= image_tag("cloud/before.jpg", class: "mobile-featurette-image img-responsive center-block", alt: "Before The Cloud") %>
      
      <!-- More/Less Link -->
      <div class="featurette-heading-more-link" >
        <a class="toggle-more-less more-link-cloud-intro" data-toggle="collapse" href="#more-content-cloud-intro" aria-expanded="false" aria-controls="more-content-cloud-intro">
          <span>more...</span><span class="hidden">less...</span>
        </a>          
      </div>
    </h2>
    
  </div>

  <div class="collapse" id="more-content-cloud-intro">
    <%= image_tag("cloud/before.jpg", class: "featurette-image img-responsive center-block", alt: "Before The Cloud") %>
    <p>
      First, let’s have a quick review of the internet before all this cloud business came along. Thru the 90’s and early 00’s, the internet looked like the figure above. Applications required physical media like CDs to be sold/distributed through physical locations. The applications would then be installed on the users’ computer, called a ‘client’, which could have a bunch of these individually installed software applications (aka apps). The web browser was one of these apps but the web browser was special because it was used to view data (web pages) that was located on other computers, servers, connected to the internet. As these servers and client computers grew more powerful, so did the networks that connected them. This led to proliferation of application architectures where the majority of applications’ logic and users’ data was moved from clients to servers. Servers did most of the data processing and they dynamically generated “views” in the form of user-specific web pages in response to each users’ unique data and users’ interactions. These server powered apps which use the clients’ web browser as a kind of universal Graphical User Interface (GUI) are called web apps.
    </p>
    <blockquote>
      <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </blockquote>
    <p>
      The diagram also shows “Native Apps” which is a popular term used to refer to apps installed directly on phones and ipads. These apps have some similarities to both traditionally installed desktop apps and server powered web apps. Like web apps, the native apps can be easily accessed/downloaded using the internet and they also use the internet to access any needed server resources. But native apps, like traditional desktop apps, need to be explicitly downloaded (usually from app stores like Applie Itunes and Google Play) and installed before they can be used. Also, they don’t use the browser as a GUI. Instead, native apps directl integrate with the mobile devices underlying operating system (IOS, Android etc) to present its GUI. This makes them faster and more powerful, in some ways, than web apps on phones and tables. But web apps remain very effective for many types of apps used on both mobile and desktop computers.
    </p>
    
    <p>
      Compared to the previous generation of desktop apps which were distributed using CDs and other physical media, web apps and native apps have the characteristic that they can be easily downloaded and accessed by any user with the right credentials (username/password) from any computer with internet access. The, so-called “cloud” is this collection of web/native apps which, just like real natural clouds, appear omni-present and continuously evolving. Another important term,  Software As A Service (SAAS), is a phrase popularized by business minded technology commentators to refer to either web apps, native apps or their closely related counterpart “Application Programming Interfaces” or APIs. More on this next.
    </p>
    
    <a class="toggle-more-less more-link-cloud-intro" data-toggle="collapse" href="#more-content-cloud-intro" aria-expanded="false" aria-controls="more-content-cloud-intro">
      <span>more...</span><span class="hidden">...less</span>
    </a>
  </div><!-- /.blog-post-more-content -->
  <hr>
</div><!-- /.blog-post -->