<p>
  Compared to the previous generation of desktop apps which were distributed using CDs and other physical media, web apps and native apps have the characteristic that they can be easily downloaded and accessed by any user with the right credentials (username/password) from any computer with internet access. 
  <blockquote>
  <p>The so-called <strong>cloud</strong> is the collection of web/native apps which, just like real natural clouds, is always around and accessible using the <strong>intenet</strong></p>
  </blockquote>
  Another important term,  Software As A Service (SAAS), is a phrase that's gotten popular among some technology commentators to refer to either web apps, native apps or their closely related counterpart “Application Programming Interfaces” or APIs. More on APIs, Web/Native Apps, and different technology stacks next.
</p>

<%= image_tag("cloud/emergence.jpg", class: "img-responsive center-block", alt: "Before The Cloud") %>