<p>
  We all use software services called apps which are also refered to as <b>web apps</b> and <b>native apps</b>. But when we try to go one step deeper to understand what exactly web/native apps are made of, things get complicated very quickly. Attempting to unpack seemingly straight-forward concepts like "client" and "server", unleashes tsunami-sized waves of new technology concepts like “client web app libraries and frameworks” which then explodes into specific implementations like "Ember", "Angular", "Backbone", "Ampersand" which are all implementations of "client web app libraries or frameworks". 
  <blockquote>
    <p>
      Stacky Notes is a guide which uses cool diagrams and short descriptions to explain the web technologies behind internet-powered native/web apps
    </p>
  </blockquote>
</p>