<%
  title               = "Why Stacky Notes?"
  featurette_heading  = "Much has been written about which tech stack is better than which but not enough about what are tech stacks and how they are used to make the apps we <span class='glyphicon glyphicon-heart'></span>"
  featurette_image      = "cloud/before.jpg"
  featurette_image_alt  = "Before The Cloud"
  article_slug          = "stacky-intro"
  more_content          = "static_pages/articles/stacky_intro_more_content" 
%>

<%= render 'static_pages/articles/components/featurette', 
  title: title,
  featurette_heading: featurette_heading,
  featurette_image: featurette_image,
  featurette_image_alt: featurette_image_alt,
  article_slug: article_slug,
  more_content: more_content
%>