
.welcome{
  
  min-height: 300px;
  background-image: url(desktop.jpg) ; 

}

.intro-header {
  padding-top: 60px;
  // padding-bottom: 50px;
  text-align: center;
  // color: #f8f8f8;
  background: url(desktop.jpg) no-repeat top right;
  background-size: cover;
  min-height: 400px;
}

/*Main column*/

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}


/* featurettes */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-more-link{
  padding-top: 20px; 
}

.featurette-image {
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) { 
  .intro-header {
    padding: 60px 100px 50px;
  }
  .featurette-image {
    display: block;
    vertical-align: top;
  }

  .mobile-featurette-image {
    display: none;
  }
}