/*Globals*/

// h1, .h1,
// h2, .h2,
// h3, .h3,
// h4, .h4,
// h5, .h5,
// h6, .h6 {
//   margin-top: 0;
//   // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   color: #333;
// }

/* Blog name and description*/

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*Main column*/

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/*Blog posts*/

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  font-size: 40px;
}

/* featurettes */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
}

.featurette-heading-more-link{
  padding-top: 20px; 
}

.featurette-image {
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) { 
  .featurette-image {
    display: block;
    vertical-align: top;
  }
}