@import "custom_colors";

.intro-header {
  text-align: center;
  background: image-url("desktop_black_50.png") no-repeat top right;
  background-size: cover;
  min-height: 380px;
  text-align: center;
}

.intro-stack{
  color: $stacky-bg;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5%;
}

.intro-stackable{
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 0px;
  margin: 2px;
}
/*Main column*/

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* featurettes */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-more-link{
  padding-top: 20px;
  // .is_last{
  //   color: $stacky-blockquote-color;
  // }
}

.featurette-image {
  display: none;
  margin-bottom: 10px;
}

.featurette-heading-list{
  list-style-type: square;
}

.featurette-link-target{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.articles-list{
   > li{
      margin-bottom: 20px;
      border-bottom: 1px solid #eaeaea;
   }
   > li:last-child{
      border: none;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {

  .featurette-image {
    display: block;
    vertical-align: top;
  }

  .mobile-featurette-image {
    display: none;
  }
}

