<footer class="footer">
  <div class="container">
    <small>
      Made with <span class="glyphicon glyphicon-heart"></span> by Ola Adedoyin
    </small>
    <nav>
      <ul>
        <li>
          <a href="http://olaflow.com">
              <i class="fa fa-external-link-square"></i>Blog
          </a>
        </li>
        <li>
          <a href="https://twitter.com/pixelsdatalove">
              <i class="fa fa-twitter-square"></i>Twitter
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/pub/ola-adedoyin/55/488/5a">
              <i class="fa fa-linkedin-square"></i>Linked-In
          </a>
        </li>
        <li>
          <a href="mailto:ola@stackynotes.com">
              <i class="fa fa-envelope-square"></i>Email Me!    
          </a>
        </li>          
    </ul>
    </nav>
  </div>
</footer>