<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" class="dropdown-toggle text-right" data-toggle="dropdown" role="button" aria-expanded="false">Skip To Note<span class="caret"></span></a>
    <ul class="dropdown-menu text-right" role="menu">
      <li><a href="/#stacky-intro">Why Stacky Notes</a></li>
      <li><a href="/#cloud-intro">Apps In The Cloud</a></li>
      <li><a href="/#site-app">Web Site or Web App?</a></li>
      <li><a href="/#web-apps">Web App Types: DHTML and SPA</a></li>
      <li><a href="/#app-dhtml">Web App: DHTML App</a></li>
      <li><a href="/#app-native">Web App: SPA App</a></li>
      <li><a href="/#app-native">Native App</a></li>
      <li><a href="/#web-experts">Experts' Words</a></li>
      <li>
          <a href="#">
            <span class="glyphicon glyphicon-home" aria-hidden="true"> 
            </span>
            Home
          </a>
      </li>
      <li>
          <a class="collapse-on-click-ignore-link" href="#">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"> 
          </span>
          Close
          </a>
      </li>
    </ul>
  </li> 
 
</ul>