<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">

      <a class="navbar-brand" href="#">Stacky Notes</a>
          
    </div>
   
    <div class="navbar-header pull-right">

      <%= render 'layouts/header_items_on_right' %>      
       
    </div>
    
  </div>
</nav>