<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stacky Notes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Skip To Note<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#stacky-intro">Why Stacky Notes</a></li>
            <li><a href="/#cloud-intro">Apps In The Cloud</a></li>
            <li><a href="/#site-app">Web Site or Web App?</a></li>
            <li><a href="/#web-apps">Web App Types: DHTML and SPA</a></li>
            <li><a href="/#app-dhtml">Web App: DHTML App</a></li>
            <li><a href="/#app-native">Web App: SPA App</a></li>
            <li><a href="/#app-native">Native App</a></li>
            <li><a href="/#web-experts">Experts' Words</a></li>
            <li>
                <a href="#">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"> 
                  </span>
                  Home
                </a>
            </li>
            <li>
                <a class="collapse-on-click-ignore-link" href="#">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> 
                </span>
                Close
                </a>
            </li>
          </ul>
        </li>
        <!-- 
        <li class="collapse-on-click top-border"><a href="#more">More Stuff</a></li> 
        -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>