<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Stacky Notes</h1>
                    <h3>A space to share thoughts on what exactly are tech stacks and how are they used to make the apps we love</h3>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>