<div class="intro-header">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-stack">
                    <h1 class="intro-stackable">Stacky Notes</h1>
                    <h2 class="intro-stackable">A Thing</h2>
                    <h2 class="intro-stackable">For Understanding</h2>
                    <h2 class="intro-stackable">Web Apps</h2>
                    <h2 class="intro-stackable">Technology Stacks</h2>
                </div>
            </div>
        </div>

    </div>
    <!-- container -->
</div>